body {
    background-color: #4b4b87;
}
img {
    border-radius: 25px;
    background: #393b37;
    padding: 20px;
    height: 590px;
    width: 900px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}