<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1800">

    <title>ARC Occupancy</title>
</head>
<body>
    <h1>ARC Occupancy Data</h1>
    <div>
        <h2>Occupancy Details</h2>
        {% for time, occupancy in timeData.items() %}
            <p>Time: {{ time }}, Occupancy: {{ occupancy }}</p>
        {% endfor %}
    </div>
    <div>
        <h2>Occupancy Trend</h2>
        <img src="{{ url_for('static', filename='images/plot.png') }}" alt="Occupancy Plot">
    </div>
</body>
</html>
